In [2]:
## Importing all the necessary libraries
import pandas as pd
import numpy as np
import requests
from bs4 import BeautifulSoup
import urllib3
import re
import seaborn as sns
import matplotlib.pyplot as plt

In [5]:
## using the pd.explode to create a new row for each actor
imdb_temp = imdb_top_movies[["starring", "movie_name"]].assign( starring = imdb_top_movies["starring"].str.split(", ")).explode("starring")

## cleaning up the actor column from all unnecessary 
imdb_temp["starring"] = imdb_temp["starring"].str.replace("[", "").str.replace("'","").str.replace("]", "").str.replace('"', "")

## grouping by starring and counting the movies they appeared 
result = pd.DataFrame(imdb_temp.groupby(["starring"])["movie_name"].count())
result = result.rename(columns = {"movie_name": "count"})

while len(numbersEntered) <= 2:

    # Input, programme description
    numberInput = str(input('Please enter 3 numbers:'))

    # Find all positive and negative float or int numbers in the input
    numberList = re.findall(r'[-]?\d*\.\d+|[-]?\d+', numberInput)

    # Add the numbers entered now to the list of all entered numbers
    for i in range(len(numberList)):
        numbersEntered.append(float(numberList[i]))
        i += 1
a = int(input("how many of the top actors would you like to display?")
        
        
# Using nlargerst function to show the top 10 actors. Please keep in mind, that there are more actors who also had 4 apprences in the movies
result.nlargest(10, "count")

                   count
starring
Robert De Niro         9
Harrison Ford          6
Leonardo DiCaprio      6
Tom Hanks              6
Charles Chaplin        5
Christian Bale         5
Clint Eastwood         5
James Stewart          5
Toshirô Mifune         5
Al Pacino              4

In [ ]:
## Count how many actors were at least starring in one movie

In [6]:
## using the pd.explode to create a new row for each actor
imdb_temp = imdb_top_movies[["starring", "movie_name"]].assign( starring = imdb_top_movies["starring"].str.split(", ")).explode("starring")
imdb_temp

               starring                movie_name
0        ['Tim Robbins'  The Shawshank Redemption
0      'Morgan Freeman'  The Shawshank Redemption
0         'Bob Gunton']  The Shawshank Redemption
1      ['Marlon Brando'             The Godfather
1           'Al Pacino'             The Godfather
..                  ...                       ...
248  'Nastassja Kinski'              Paris, Texas
248   'Dean Stockwell']              Paris, Texas
249   ['Toshirô Mifune'           Throne of Blood
249     'Minoru Chiaki'           Throne of Blood
249     'Isuzu Yamada']           Throne of Blood

[750 rows x 2 columns]